/****************************** RESET ******************************/
html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

.btn-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Основные параметры */
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  min-width: 320px;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: calc(1280px + 30px);
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}

/****************************** VARIABLES ******************************/
:root {
  --accent: #FF7043;
  --accentLight: #FF8B66;
  --accentDark: #FF5621;
  --white: #ffffff;
  --black: #000000;
}
