/****************************** BLOCKS ******************************/
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
  background-color: var(--accent);
  border-radius: 6px;
}

/****************************** HEADER ******************************/
.header {
  position: relative;
  background-color: var(--black);
  padding: 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  z-index: 1001;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 64px;
  z-index: 1002;
}

.header__mail {
  padding: 4px 12px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
}

.header__mail:hover {
  background-color: rgba(255, 255, 255, .2);
}

/* .nav {} */

.header__nav {
  transform: translateX(63px);
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 23px;
}

/* .nav__link {} */

.header__sing-up {
  display: none;
}

.header__btn {
  transition: background-color .2s ease-in-out;
  padding: 12px 35.5px;
}

.header__btn:hover {
  background-color: var(--accentLight);
}

.header__btn:active {
  background-color: var(--accentDark);
  transition: background-color .05s linear;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.burger__line {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .3s ease-in-out, top .3s ease-in-out, bottom .3s ease-in-out, width .3s ease-in-out, opacity .4s ease-in-out;
}

.burger__line:first-child {
  top: 0;
}

.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.burger__line:last-child {
  bottom: 0;
}

.burger.active .burger__line:first-child {
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}


.burger.active .burger__line:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.burger.active .burger__line:last-child {
  bottom: 50%;
  transform: translateY(50%) translateX(-50%) rotate(45deg);
}


/****************************** HERO ******************************/
.hero {
  background-color: var(--accent);
  overflow: hidden;
}

.hero__container {
  position: relative;
}

.hero__bg {
  position: absolute;
  top: -81px;
  right: 23px;
  z-index: 99;
}

.hero__body {
  position: relative;
  padding: 245px 0px 246px 23px;
  z-index: 100;
}

.hero__content {
  max-width: 587px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  margin: 0;
  margin-bottom: 27px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
  text-align: center;
}

.hero__buttons {}

.hero__btn {
  padding: 18.5px 37px;
  font-size: 18px;
  background-color: var(--black);
  color: var(--white)
}

.hero__btn:not(:last-child) {
  margin-right: 8px;
}

.hero__btn--white {
  background-color: var(--white);
  color: var(--black)
}

/****************************** SKILLS ******************************/
.skills {
  padding-bottom: 79px;
  padding-top: 86px;
}

.skills__body {}

.skills__items {
  --gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

.item-skills {
  display: flex;
  align-items: center;
}

.skills__item {
  width: calc((100% - var(--gap) * 2) / 3);
}

.skills__item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.item-skills__decor {
  background: #FDE7DA no-repeat center;
  margin-right: 24px;
  height: 100px;
  min-width: 100px;
}

.item-skills__decor--speed {
  background-image: url('../images/skills/img-1.png');
}

.item-skills__decor--design {
  background-image: url('../images/skills/img-2.png');

}

.item-skills__decor--modularity {
  background-image: url('../images/skills/img-3.png');
}

.item-skills__content {}

.item-skills__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 12px;
}

.item-skills__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/****************************** DRUK ******************************/
.druk {
  position: relative;
  padding: 99px 0;
  padding-bottom: 160px;
  background-color: #000;
  color: #fff;
}

.swiper-container {
  overflow: hidden;
}

.swiper-wrapper {
  left: 0;
  top: 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.swiper-slide-duplicate {
  height: 100%;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 0;
}

.druk__title {
  margin-bottom: 35px;
}

.druk__descr {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  max-width: 576px;
  margin-bottom: 42px;
}

.druk__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.druk__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: rgba(255, 255, 255, 0.7);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 110px;
}

/****************************** PORTFOLIO ******************************/
.portfolio {
  padding: 100px 0;
  padding-bottom: 81px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 24px;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  --gap: 16px;
}

.portfolio__item {
  width: calc((100% - var(--gap) * 2) / 3);
  margin-bottom: var(--gap);
}

.portfolio__item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.item-portfolio {
  border-radius: 6px;
  overflow: hidden;
  transition: opacity .2s ease-in-out;
}

.item-portfolio:hover {
  opacity: .7;
}

.item-portfolio__img {
  padding: 40px 40px 0px 40px;
  background-color: #000;
}

.item-portfolio__img img {
  margin-bottom: -3px;
  object-fit: cover;
}

.item-portfolio__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  padding: 25px 32px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/****************************** FOOTER ******************************/
.footer {
  background-color: #000;
}

.row-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer__rows {}

.footer__row {}

.footer__row:nth-child(1) {
  padding: 65px 0;
  align-items: center;
}

.footer__row:nth-child(2) {
  padding-bottom: 28px;
}

.footer__row:nth-child(3) {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.row-footer__left {}

.row-footer__logo {}

.row-footer__right {}

.row-footer__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  background-color: #fff;
  padding: 11.5px 35px;
}

.nav-footer {}

.nav-footer__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
}

.nav-footer__item {
  margin-bottom: 15px;
}

.nav-footer__item:not(:last-child) {
  margin-right: 22px;
}

.nav-footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.nav-footer__link:hover {
  text-decoration: underline;
}

.row-footer__social {}

.social {
  display: flex;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  background: rgba(255, 255, 255, 0.1);
}

.social__item:not(:last-child) {
  margin-right: 8px;
}

.row-footer__dev {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.row-footer__by {
  margin-right: 12px;
}

.row-footer__webflow {
  margin-right: 12px;
}

.row-footer__veljko {
  color: var(--accent);
}

.row-footer__contact {}

.row-footer__contact:hover {
  text-decoration: underline;
}

/****************************** TEST ******************************/
